* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --dark-bg: rgb(23, 8, 32); 
    --avlory-pink: #ff2972; 
    --avlory-purple: #a529ff;
    --text-light: #f0f0f0; 
}


body {
  background-color: var(--dark-bg);
  color: var(--text-light); 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  min-height: 100vh;
  background: linear-gradient(135deg, var(--dark-bg), var(--avlory-purple), var(--dark-bg));
  background-size: 400% 400%; 
  animation: seamlessShift 30s ease infinite; 
}

@keyframes seamlessShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.menu {
  position: relative;
  width: 260px;
  height: 260px;
  display: flex; 
  justify-content: center;
  align-items: center;
  z-index: 10000; /* Ensure menu is above all content */
}

.menu li {
  position: absolute;
  left: 0;
  list-style: none;
  transform-origin: 130px;
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--i));
  transform: rotate(0deg) translateX(100px);
}

.menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 2.5em;
  border-radius: 50%;
  transform: rotate(calc(360deg / -8 * var(--i)));
  color: transparent;
  transition: 1s;
  transition-delay: 0.5s;
}

.menu li a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background: var(--clr);
  transform: rotate(calc(var(--i) * 90deg)) translate(0, 25px);
  transition: height 0.5s, width 0.5s, transform 0.5s;
  transition-delay: 0s, 0s, 0s;
}

.menu.active li a::before {
  width: 60px;
  height: 60px;
  border: 2px solid var(--clr);
  box-sizing: border-box;
  background: rgb(23, 8, 32);
  transform: rotate(calc(var(--i) * 90deg)) translate(0px, 0px);
  transition: transform 0.5s, height 0.5s, width 0.5s;
  transition-delay: 1s, 1.5s, 1.5s;
  rotate: 135deg;
}

.menu.active li:hover a::before {
  background: var(--clr);
  color: rgb(23, 8, 32);
  box-shadow: 0 0 15px var(--clr), 0 0 40px var(--clr), 0 0 70px var(--clr);
}

.menu.active li:hover a ion-icon {
  position: relative;
  color: rgb(23, 8, 32);
  z-index: 10000000;
}

.menuToggle {
  position: absolute;
  width: 60px;
  height: 60px;
  display: flex; 
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 50%;
  cursor: pointer;
  font-size: 3em;
  transition: transform 1.5s;
}

.menu.active li {
  transform: rotate(calc(360deg / 8 * var(--i)));
}

.menu.active li a {
  color: var(--clr);
}

.menu.active li a::after {
  left: 10px;
  width: 40px;
  transition-delay: 0.5s;
  transform: rotate(calc(var(--i) * 45deg)) translate(50px, 0px);
}

.menu li a::after {
  content: "";
  position: absolute;
  left: 50px;
  width: 20px;
  height: 2px;
  background: var(--clr);
  z-index: -1;
  transform: rotate(calc(var(--i) * 0deg)) translate(15px, 0px);
  transition: 0.5s;
  transition-delay: 0.5s;
}

.menu.active .menuToggle {
  transform: rotate(315deg);
}