/*Animation*/
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  /* Optional: Start with a slight vertical offset */
  transition: opacity 1s, transform 1s;
}
.fade-in-animation {
  opacity: 1;
  transform: translateY(0);
}
